<div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1 font-weight-bold">couffin</h5>
      Le couffin tunisien date de plusieurs siècles et était incontournable, que ce soit pour aller faire les courses, pour sortir, ou y porter des vêtements.
      C’est là un vrai savoir-faire artisanal. Djerba, Gabès, Kasserine et Nabeul sont des villes réputées pour leur fabrication.s.
    </div>
    <img class="d-flex ml-3" src="coufin.jpg" alt="Generic placeholder image">
  </div>
  <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1 font-weight-bold">Tapis</h5>
      La Tunisie est riche d’une longue tradition de tissage de tapis. On raconte qu’au 19e siècle, la fille du gouverneur ottoman aurait été la première, à Kairouan, à tisser un tapis de haute laine pour l’offrir à l'une des mosquées de la ville. Puis la tradition se serait perpétuée, faisant de Kairouan la capitale du tapis en Tunisie.
    </div>
    <img class="d-flex ml-3" src="klim.jpg" alt="Generic placeholder image">
  </div>